.movieInfo_movie {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid black;
}
.movieInfo_movie img {
  width: 250px;
  height: 340px;
}
.movieInfo_details {
  display: flex;
  flex-direction: column;
}
.movieInfo_title {
  margin: 0;
  text-decoration: underline;
  padding-bottom: 10px;
}
.movieInfo_rating {
  font-weight: 500;
  margin: 0;
  padding-bottom: 20px;
}
h3 {
  margin: 0;
  padding-bottom: 10px;
}
span {
  margin: 0;
  padding-bottom: 20px;
}
h4 {
  margin: 0;
  padding-bottom: 10px;
}
.moreDetails_containter {
  padding: 10px;
}
.moreDetails_links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
}
.moreDetails_item {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.moreDetails_item.active {
  color: grey;
  text-decoration: underline;
}
.moreDetails_cast {
  padding-left: 10px;
}
.moreDetails_reviews {
  padding-left: 10px;
}
