.movies_containter {
  padding-top: 10px;
}
.movies_form {
  padding-left: 10px;
}
.movies_input {
  border: none;
  width: 200px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
.movies_button {
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: rgba(128, 128, 128, 0.5);
}
.movies_button:hover,
.movies_button:focus {
  cursor: pointer;
  border: 2px solid black;
}
.movies_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  color: black;
}
.movies_item {
  color: black;
}
